{
  "openapi": "3.1.0",
  "info": { "title": "Flowglad API", "version": "0.0.1" },
  "servers": [{ "url": "https://app.flowglad.com" }],
  "externalDocs": { "url": "https://docs.flowglad.com" },
  "paths": {
    "/api/v1/payments/{id}/refund": {
      "post": {
        "operationId": "payments-refund",
        "summary": "Refund a Payment",
        "tags": ["Payments", "Refund"],
        "security": [{ "ApiKeyAuth": [] }],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": { "type": "string" },
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "partialAmount": {
                    "description": "The amount to refund. If not provided, the entire amount will be refunded. Cannot exceed the amount of the associated payment.",
                    "type": "number"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "payment": {
                      "$ref": "#/components/schemas/PaymentRecord"
                    }
                  },
                  "required": ["payment"],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "401": {
            "description": "Authorization not provided",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.UNAUTHORIZED"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.FORBIDDEN"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/payments": {
      "get": {
        "operationId": "payments-list",
        "summary": "List Payments",
        "tags": ["Payments"],
        "security": [{ "ApiKeyAuth": [] }],
        "parameters": [
          {
            "in": "query",
            "name": "cursor",
            "schema": { "type": "string" }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PaymentRecord"
                      }
                    },
                    "currentCursor": { "type": "string" },
                    "nextCursor": { "type": "string" },
                    "hasMore": { "type": "boolean" },
                    "total": { "type": "number" }
                  },
                  "required": ["data", "hasMore", "total"],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "401": {
            "description": "Authorization not provided",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.UNAUTHORIZED"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.FORBIDDEN"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.NOT_FOUND"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/payments/{id}": {
      "get": {
        "operationId": "payments-get",
        "summary": "Get Payment",
        "tags": ["Payments"],
        "security": [{ "ApiKeyAuth": [] }],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": { "type": "string" },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "payment": {
                      "$ref": "#/components/schemas/PaymentRecord"
                    }
                  },
                  "required": ["payment"],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "401": {
            "description": "Authorization not provided",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.UNAUTHORIZED"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.FORBIDDEN"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.NOT_FOUND"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/checkout-sessions": {
      "post": {
        "operationId": "checkoutSessions-create",
        "summary": "Create Checkout Session",
        "tags": ["Checkout Sessions", "Purchases"],
        "security": [{ "ApiKeyAuth": [] }],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "description": "Use this schema for new checkout sessions.",
                "type": "object",
                "properties": {
                  "checkoutSession": {
                    "oneOf": [
                      {
                        "type": "object",
                        "properties": {
                          "customerExternalId": {
                            "description": "The id of the Customer for this purchase session, as defined in your system",
                            "type": "string"
                          },
                          "successUrl": {
                            "description": "The URL to redirect to after the purchase is successful",
                            "type": "string"
                          },
                          "cancelUrl": {
                            "description": "The URL to redirect to after the purchase is canceled or fails",
                            "type": "string"
                          },
                          "outputMetadata": {
                            "description": "Metadata that will get added to the purchase or subscription created when this checkout session succeeds. Ignored if the checkout session is of type `invoice`.",
                            "type": "object",
                            "propertyNames": { "type": "string" },
                            "additionalProperties": {}
                          },
                          "outputName": {
                            "description": "The name of the purchase or subscription created when this checkout session succeeds. Ignored if the checkout session is of type `invoice`.",
                            "type": "string"
                          },
                          "type": {
                            "type": "string",
                            "const": "product"
                          },
                          "priceId": {
                            "description": "The ID of the price the customer shall purchase",
                            "type": "string"
                          },
                          "quantity": {
                            "description": "The quantity of the purchase or subscription created when this checkout session succeeds. Ignored if the checkout session is of type `invoice`.",
                            "type": "number"
                          }
                        },
                        "required": [
                          "customerExternalId",
                          "successUrl",
                          "cancelUrl",
                          "type",
                          "priceId"
                        ]
                      },
                      {
                        "type": "object",
                        "properties": {
                          "customerExternalId": {
                            "description": "The id of the Customer for this purchase session, as defined in your system",
                            "type": "string"
                          },
                          "successUrl": {
                            "description": "The URL to redirect to after the purchase is successful",
                            "type": "string"
                          },
                          "cancelUrl": {
                            "description": "The URL to redirect to after the purchase is canceled or fails",
                            "type": "string"
                          },
                          "outputMetadata": {
                            "description": "Metadata that will get added to the purchase or subscription created when this checkout session succeeds. Ignored if the checkout session is of type `invoice`.",
                            "type": "object",
                            "propertyNames": { "type": "string" },
                            "additionalProperties": {}
                          },
                          "outputName": {
                            "description": "The name of the purchase or subscription created when this checkout session succeeds. Ignored if the checkout session is of type `invoice`.",
                            "type": "string"
                          },
                          "type": {
                            "type": "string",
                            "const": "add_payment_method"
                          },
                          "targetSubscriptionId": {
                            "description": "The id of the subscription that the payment method will be added to as the default payment method.",
                            "type": "string"
                          },
                          "automaticallyUpdateSubscriptions": {
                            "description": "Whether to automatically update all current subscriptions to the new payment method. Defaults to false.",
                            "type": "boolean"
                          }
                        },
                        "required": [
                          "customerExternalId",
                          "successUrl",
                          "cancelUrl",
                          "type"
                        ]
                      },
                      {
                        "type": "object",
                        "properties": {
                          "customerExternalId": {
                            "description": "The id of the Customer for this purchase session, as defined in your system",
                            "type": "string"
                          },
                          "successUrl": {
                            "description": "The URL to redirect to after the purchase is successful",
                            "type": "string"
                          },
                          "cancelUrl": {
                            "description": "The URL to redirect to after the purchase is canceled or fails",
                            "type": "string"
                          },
                          "outputMetadata": {
                            "description": "Metadata that will get added to the purchase or subscription created when this checkout session succeeds. Ignored if the checkout session is of type `invoice`.",
                            "type": "object",
                            "propertyNames": { "type": "string" },
                            "additionalProperties": {}
                          },
                          "outputName": {
                            "description": "The name of the purchase or subscription created when this checkout session succeeds. Ignored if the checkout session is of type `invoice`.",
                            "type": "string"
                          },
                          "type": {
                            "type": "string",
                            "const": "activate_subscription"
                          },
                          "priceId": { "type": "string" },
                          "targetSubscriptionId": { "type": "string" }
                        },
                        "required": [
                          "customerExternalId",
                          "successUrl",
                          "cancelUrl",
                          "type",
                          "priceId",
                          "targetSubscriptionId"
                        ]
                      }
                    ],
                    "type": "object"
                  }
                },
                "required": ["checkoutSession"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "checkoutSession": {
                      "description": "A time-limited checkout session, which captures the payment details needed to create a subscription, or purchase, or pay a standalone invoice.",
                      "$ref": "#/components/schemas/CheckoutSessionRecord"
                    },
                    "url": {
                      "description": "The URL to redirect to complete the purchase",
                      "type": "string"
                    }
                  },
                  "required": ["checkoutSession", "url"],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "401": {
            "description": "Authorization not provided",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.UNAUTHORIZED"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.FORBIDDEN"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "checkoutSessions-list",
        "summary": "List Checkout Sessions",
        "tags": ["Checkout Sessions", "Purchases"],
        "security": [{ "ApiKeyAuth": [] }],
        "parameters": [
          {
            "in": "query",
            "name": "cursor",
            "schema": { "type": "string" }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "description": "A time-limited checkout session, which captures the payment details needed to create a subscription, or purchase, or pay a standalone invoice.",
                        "$ref": "#/components/schemas/CheckoutSessionRecord"
                      }
                    },
                    "currentCursor": { "type": "string" },
                    "nextCursor": { "type": "string" },
                    "hasMore": { "type": "boolean" },
                    "total": { "type": "number" }
                  },
                  "required": ["data", "hasMore", "total"],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "401": {
            "description": "Authorization not provided",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.UNAUTHORIZED"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.FORBIDDEN"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.NOT_FOUND"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/checkout-sessions/{id}": {
      "get": {
        "operationId": "checkoutSessions-get",
        "summary": "Get Checkout Session",
        "tags": ["Checkout Sessions", "Purchases"],
        "security": [{ "ApiKeyAuth": [] }],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": { "type": "string" },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "checkoutSession": {
                      "description": "A time-limited checkout session, which captures the payment details needed to create a subscription, or purchase, or pay a standalone invoice.",
                      "$ref": "#/components/schemas/CheckoutSessionRecord"
                    },
                    "url": {
                      "description": "The URL to redirect to complete the purchase",
                      "type": "string"
                    }
                  },
                  "required": ["checkoutSession", "url"],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "401": {
            "description": "Authorization not provided",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.UNAUTHORIZED"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.FORBIDDEN"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.NOT_FOUND"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/products": {
      "get": {
        "operationId": "products-list",
        "summary": "List Products",
        "tags": ["Products"],
        "security": [{ "ApiKeyAuth": [] }],
        "parameters": [
          {
            "in": "query",
            "name": "cursor",
            "schema": { "type": "string" }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductsPaginatedList"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "401": {
            "description": "Authorization not provided",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.UNAUTHORIZED"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.FORBIDDEN"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.NOT_FOUND"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "products-create",
        "summary": "Create Product",
        "tags": ["Products"],
        "security": [{ "ApiKeyAuth": [] }],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "product": {
                    "$ref": "#/components/schemas/ProductInsert"
                  },
                  "price": {
                    "$ref": "#/components/schemas/CreateProductPriceInput"
                  },
                  "featureIds": {
                    "type": "array",
                    "items": { "type": "string" }
                  }
                },
                "required": ["product", "price"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "product": {
                      "$ref": "#/components/schemas/ProductRecord"
                    }
                  },
                  "required": ["product"],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "401": {
            "description": "Authorization not provided",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.UNAUTHORIZED"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.FORBIDDEN"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/products/{id}": {
      "get": {
        "operationId": "products-get",
        "summary": "Get Product",
        "tags": ["Products"],
        "security": [{ "ApiKeyAuth": [] }],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": { "type": "string" },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductWithPricesRecord"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "401": {
            "description": "Authorization not provided",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.UNAUTHORIZED"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.FORBIDDEN"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.NOT_FOUND"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "products-edit",
        "summary": "Update Product",
        "tags": ["Products"],
        "security": [{ "ApiKeyAuth": [] }],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": { "type": "string" },
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "product": {
                    "$ref": "#/components/schemas/ProductUpdate"
                  },
                  "price": {
                    "$ref": "#/components/schemas/PricesUpdate"
                  },
                  "featureIds": {
                    "type": "array",
                    "items": { "type": "string" }
                  }
                },
                "required": ["product"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "product": {
                      "$ref": "#/components/schemas/ProductRecord"
                    }
                  },
                  "required": ["product"],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "401": {
            "description": "Authorization not provided",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.UNAUTHORIZED"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.FORBIDDEN"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.NOT_FOUND"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/prices": {
      "get": {
        "operationId": "prices-list",
        "summary": "List Prices",
        "tags": ["Prices"],
        "security": [{ "ApiKeyAuth": [] }],
        "parameters": [
          {
            "in": "query",
            "name": "cursor",
            "schema": { "type": "string" }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PricesPaginatedList"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "401": {
            "description": "Authorization not provided",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.UNAUTHORIZED"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.FORBIDDEN"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.NOT_FOUND"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "prices-create",
        "summary": "Create Price",
        "tags": ["Prices"],
        "security": [{ "ApiKeyAuth": [] }],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "price": {
                    "$ref": "#/components/schemas/PricesInsert"
                  }
                },
                "required": ["price"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "price": {
                      "$ref": "#/components/schemas/PriceRecord"
                    }
                  },
                  "required": ["price"],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "401": {
            "description": "Authorization not provided",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.UNAUTHORIZED"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.FORBIDDEN"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/prices/{id}": {
      "put": {
        "operationId": "prices-edit",
        "summary": "Update Price",
        "tags": ["Prices"],
        "security": [{ "ApiKeyAuth": [] }],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": { "type": "string" },
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "price": {
                    "$ref": "#/components/schemas/PricesUpdate"
                  }
                },
                "required": ["price"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "price": {
                      "$ref": "#/components/schemas/PriceRecord"
                    }
                  },
                  "required": ["price"],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "401": {
            "description": "Authorization not provided",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.UNAUTHORIZED"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.FORBIDDEN"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.NOT_FOUND"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/customers": {
      "post": {
        "operationId": "customers-create",
        "summary": "Create Customer",
        "tags": ["Customer"],
        "security": [{ "ApiKeyAuth": [] }],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "customer": {
                    "$ref": "#/components/schemas/CustomerInsert"
                  }
                },
                "required": ["customer"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "customer": {
                          "$ref": "#/components/schemas/CustomerRecord"
                        },
                        "subscription": {
                          "$ref": "#/components/schemas/SubscriptionClientSelectSchema"
                        },
                        "subscriptionItems": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/SubscriptionItemRecordOutput"
                          }
                        }
                      },
                      "required": ["customer"],
                      "additionalProperties": false
                    }
                  },
                  "required": ["data"],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "401": {
            "description": "Authorization not provided",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.UNAUTHORIZED"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.FORBIDDEN"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "customers-list",
        "summary": "List Customers",
        "tags": ["Customer"],
        "security": [{ "ApiKeyAuth": [] }],
        "parameters": [
          {
            "in": "query",
            "name": "cursor",
            "schema": { "type": "string" }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CustomerRecord"
                      }
                    },
                    "currentCursor": { "type": "string" },
                    "nextCursor": { "type": "string" },
                    "hasMore": { "type": "boolean" },
                    "total": { "type": "number" }
                  },
                  "required": ["data", "hasMore", "total"],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "401": {
            "description": "Authorization not provided",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.UNAUTHORIZED"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.FORBIDDEN"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.NOT_FOUND"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/customers/{externalId}": {
      "put": {
        "operationId": "customers-edit",
        "summary": "Update Customer",
        "tags": ["Customer"],
        "security": [{ "ApiKeyAuth": [] }],
        "parameters": [
          {
            "in": "path",
            "name": "externalId",
            "schema": { "type": "string" },
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "customer": {
                    "$ref": "#/components/schemas/CustomerUpdate"
                  }
                },
                "required": ["customer"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "customer": {
                      "$ref": "#/components/schemas/CustomerRecord"
                    }
                  },
                  "required": ["customer"],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "401": {
            "description": "Authorization not provided",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.UNAUTHORIZED"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.FORBIDDEN"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.NOT_FOUND"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "customers-get",
        "summary": "Get Customer",
        "tags": ["Customer"],
        "security": [{ "ApiKeyAuth": [] }],
        "parameters": [
          {
            "in": "path",
            "name": "externalId",
            "schema": {
              "description": "The ID of the customer, as defined in your application",
              "type": "string"
            },
            "required": true,
            "description": "The ID of the customer, as defined in your application"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "customer": {
                      "$ref": "#/components/schemas/CustomerRecord"
                    }
                  },
                  "required": ["customer"],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "401": {
            "description": "Authorization not provided",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.UNAUTHORIZED"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.FORBIDDEN"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.NOT_FOUND"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/customers/{externalId}/billing": {
      "get": {
        "operationId": "customers-getBilling",
        "summary": "Get Billing Details",
        "tags": ["Customer", "Customer Billing"],
        "security": [{ "ApiKeyAuth": [] }],
        "parameters": [
          {
            "in": "path",
            "name": "externalId",
            "schema": {
              "description": "The ID of the customer, as defined in your application",
              "type": "string"
            },
            "required": true,
            "description": "The ID of the customer, as defined in your application"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "customer": {
                      "$ref": "#/components/schemas/CustomerRecord"
                    },
                    "subscriptions": {
                      "type": "array",
                      "items": {
                        "oneOf": [
                          {
                            "type": "object",
                            "properties": {
                              "id": { "type": "string" },
                              "createdAt": { "type": "string" },
                              "updatedAt": {
                                "anyOf": [
                                  { "type": "string" },
                                  { "type": "null" }
                                ]
                              },
                              "createdByCommit": {
                                "anyOf": [
                                  { "type": "string" },
                                  { "type": "null" }
                                ]
                              },
                              "updatedByCommit": {
                                "anyOf": [
                                  { "type": "string" },
                                  { "type": "null" }
                                ]
                              },
                              "livemode": { "type": "boolean" },
                              "startDate": { "type": "string" },
                              "customerId": { "type": "string" },
                              "organizationId": { "type": "string" },
                              "status": {
                                "type": "string",
                                "enum": [
                                  "active",
                                  "canceled",
                                  "credit_trial"
                                ]
                              },
                              "defaultPaymentMethodId": {
                                "anyOf": [
                                  { "type": "string" },
                                  { "type": "null" }
                                ]
                              },
                              "backupPaymentMethodId": {
                                "anyOf": [
                                  { "type": "string" },
                                  { "type": "null" }
                                ]
                              },
                              "trialEnd": {
                                "description": "safeZodNullOrUndefined"
                              },
                              "currentBillingPeriodStart": {
                                "description": "safeZodNullOrUndefined"
                              },
                              "currentBillingPeriodEnd": {
                                "description": "safeZodNullOrUndefined"
                              },
                              "metadata": {
                                "anyOf": [
                                  {
                                    "type": "object",
                                    "propertyNames": {
                                      "type": "string"
                                    },
                                    "additionalProperties": {}
                                  },
                                  { "type": "null" }
                                ]
                              },
                              "canceledAt": {
                                "anyOf": [
                                  { "type": "string" },
                                  { "type": "null" }
                                ]
                              },
                              "cancelScheduledAt": {
                                "anyOf": [
                                  { "type": "string" },
                                  { "type": "null" }
                                ]
                              },
                              "priceId": {
                                "anyOf": [
                                  { "type": "string" },
                                  { "type": "null" }
                                ]
                              },
                              "runBillingAtPeriodStart": {
                                "anyOf": [
                                  { "type": "boolean" },
                                  { "type": "null" }
                                ]
                              },
                              "interval": {
                                "description": "safeZodNullOrUndefined"
                              },
                              "intervalCount": {
                                "description": "safeZodNullOrUndefined"
                              },
                              "billingCycleAnchorDate": {
                                "description": "safeZodNullOrUndefined"
                              },
                              "name": {
                                "anyOf": [
                                  { "type": "string" },
                                  { "type": "null" }
                                ]
                              },
                              "renews": {
                                "type": "boolean",
                                "const": false
                              },
                              "current": { "type": "boolean" },
                              "subscriptionItems": {
                                "type": "array",
                                "items": {
                                  "oneOf": [
                                    {
                                      "type": "object",
                                      "properties": {
                                        "id": { "type": "string" },
                                        "createdAt": {
                                          "type": "string"
                                        },
                                        "updatedAt": {
                                          "anyOf": [
                                            { "type": "string" },
                                            { "type": "null" }
                                          ]
                                        },
                                        "createdByCommit": {
                                          "anyOf": [
                                            { "type": "string" },
                                            { "type": "null" }
                                          ]
                                        },
                                        "updatedByCommit": {
                                          "anyOf": [
                                            { "type": "string" },
                                            { "type": "null" }
                                          ]
                                        },
                                        "livemode": {
                                          "type": "boolean"
                                        },
                                        "subscriptionId": {
                                          "type": "string"
                                        },
                                        "name": {
                                          "anyOf": [
                                            { "type": "string" },
                                            { "type": "null" }
                                          ]
                                        },
                                        "addedDate": {
                                          "type": "string"
                                        },
                                        "priceId": {
                                          "type": "string"
                                        },
                                        "unitPrice": {
                                          "anyOf": [
                                            {
                                              "description": "A positive integer"
                                            },
                                            {
                                              "type": "number",
                                              "const": 0
                                            }
                                          ]
                                        },
                                        "quantity": {
                                          "description": "A positive integer"
                                        },
                                        "usageEventsPerUnit": {
                                          "description": "The number of usage events that constitute one unit for billing."
                                        },
                                        "usageMeterId": {
                                          "description": "The usage meter associated with this usage-based subscription item.",
                                          "type": "string"
                                        },
                                        "metadata": {
                                          "anyOf": [
                                            {
                                              "type": "object",
                                              "propertyNames": {
                                                "type": "string"
                                              },
                                              "additionalProperties": {}
                                            },
                                            { "type": "null" }
                                          ]
                                        },
                                        "type": {
                                          "type": "string",
                                          "const": "usage"
                                        },
                                        "externalId": {
                                          "anyOf": [
                                            { "type": "string" },
                                            { "type": "null" }
                                          ]
                                        },
                                        "expiredAt": {
                                          "description": "Used as a flag to soft delete a subscription item without losing its history for auditability. If set, it will be removed from the subscription items list and will not be included in the billing period item list.",
                                          "anyOf": [
                                            { "type": "string" },
                                            { "type": "null" }
                                          ]
                                        },
                                        "price": {
                                          "$ref": "#/components/schemas/SubscribablePriceRecord"
                                        }
                                      },
                                      "required": [
                                        "id",
                                        "createdAt",
                                        "updatedAt",
                                        "createdByCommit",
                                        "updatedByCommit",
                                        "livemode",
                                        "subscriptionId",
                                        "name",
                                        "addedDate",
                                        "priceId",
                                        "unitPrice",
                                        "quantity",
                                        "usageEventsPerUnit",
                                        "usageMeterId",
                                        "type",
                                        "externalId",
                                        "expiredAt",
                                        "price"
                                      ],
                                      "additionalProperties": false
                                    },
                                    {
                                      "type": "object",
                                      "properties": {
                                        "id": { "type": "string" },
                                        "createdAt": {
                                          "type": "string"
                                        },
                                        "updatedAt": {
                                          "anyOf": [
                                            { "type": "string" },
                                            { "type": "null" }
                                          ]
                                        },
                                        "createdByCommit": {
                                          "anyOf": [
                                            { "type": "string" },
                                            { "type": "null" }
                                          ]
                                        },
                                        "updatedByCommit": {
                                          "anyOf": [
                                            { "type": "string" },
                                            { "type": "null" }
                                          ]
                                        },
                                        "livemode": {
                                          "type": "boolean"
                                        },
                                        "subscriptionId": {
                                          "type": "string"
                                        },
                                        "name": {
                                          "anyOf": [
                                            { "type": "string" },
                                            { "type": "null" }
                                          ]
                                        },
                                        "addedDate": {
                                          "type": "string"
                                        },
                                        "priceId": {
                                          "type": "string"
                                        },
                                        "unitPrice": {
                                          "anyOf": [
                                            {
                                              "description": "A positive integer"
                                            },
                                            {
                                              "type": "number",
                                              "const": 0
                                            }
                                          ]
                                        },
                                        "quantity": {
                                          "description": "A positive integer"
                                        },
                                        "usageEventsPerUnit": {
                                          "description": "Usage events per unit must be null for static subscription items.",
                                          "type": "null"
                                        },
                                        "usageMeterId": {
                                          "description": "Usage meter ID must be null for static subscription items.",
                                          "type": "null"
                                        },
                                        "metadata": {
                                          "anyOf": [
                                            {
                                              "type": "object",
                                              "propertyNames": {
                                                "type": "string"
                                              },
                                              "additionalProperties": {}
                                            },
                                            { "type": "null" }
                                          ]
                                        },
                                        "type": {
                                          "type": "string",
                                          "const": "static"
                                        },
                                        "externalId": {
                                          "anyOf": [
                                            { "type": "string" },
                                            { "type": "null" }
                                          ]
                                        },
                                        "expiredAt": {
                                          "description": "Used as a flag to soft delete a subscription item without losing its history for auditability. If set, it will be removed from the subscription items list and will not be included in the billing period item list.",
                                          "anyOf": [
                                            { "type": "string" },
                                            { "type": "null" }
                                          ]
                                        },
                                        "price": {
                                          "$ref": "#/components/schemas/SubscribablePriceRecord"
                                        }
                                      },
                                      "required": [
                                        "id",
                                        "createdAt",
                                        "updatedAt",
                                        "createdByCommit",
                                        "updatedByCommit",
                                        "livemode",
                                        "subscriptionId",
                                        "name",
                                        "addedDate",
                                        "priceId",
                                        "unitPrice",
                                        "quantity",
                                        "usageEventsPerUnit",
                                        "usageMeterId",
                                        "type",
                                        "externalId",
                                        "expiredAt",
                                        "price"
                                      ],
                                      "additionalProperties": false
                                    }
                                  ],
                                  "type": "object"
                                }
                              },
                              "experimental": {
                                "description": "Experimental fields. May change without notice.",
                                "type": "object",
                                "properties": {
                                  "featureItems": {
                                    "type": "array",
                                    "items": {
                                      "$ref": "#/components/schemas/SubscriptionItemFeaturesClientSelectSchema"
                                    }
                                  },
                                  "usageMeterBalances": {
                                    "type": "array",
                                    "items": {
                                      "description": "A usage meter and the available balance for that meter, scoped to a given subscription.",
                                      "type": "object",
                                      "properties": {
                                        "id": { "type": "string" },
                                        "createdAt": {
                                          "type": "string"
                                        },
                                        "updatedAt": {
                                          "anyOf": [
                                            { "type": "string" },
                                            { "type": "null" }
                                          ]
                                        },
                                        "createdByCommit": {
                                          "anyOf": [
                                            { "type": "string" },
                                            { "type": "null" }
                                          ]
                                        },
                                        "updatedByCommit": {
                                          "anyOf": [
                                            { "type": "string" },
                                            { "type": "null" }
                                          ]
                                        },
                                        "livemode": {
                                          "type": "boolean"
                                        },
                                        "organizationId": {
                                          "type": "string"
                                        },
                                        "name": { "type": "string" },
                                        "pricingModelId": {
                                          "type": "string"
                                        },
                                        "slug": { "type": "string" },
                                        "aggregationType": {
                                          "description": "The type of aggregation to perform on the usage meter. Defaults to \"sum\", which aggregates all the usage event amounts for the billing period. \"count_distinct_properties\" counts the number of distinct properties in the billing period for a given meter.",
                                          "type": "string",
                                          "enum": [
                                            "sum",
                                            "count_distinct_properties"
                                          ]
                                        },
                                        "availableBalance": {
                                          "type": "number"
                                        },
                                        "subscriptionId": {
                                          "type": "string"
                                        }
                                      },
                                      "required": [
                                        "id",
                                        "createdAt",
                                        "updatedAt",
                                        "createdByCommit",
                                        "updatedByCommit",
                                        "livemode",
                                        "organizationId",
                                        "name",
                                        "pricingModelId",
                                        "slug",
                                        "aggregationType",
                                        "availableBalance",
                                        "subscriptionId"
                                      ],
                                      "additionalProperties": false
                                    }
                                  }
                                },
                                "required": [
                                  "featureItems",
                                  "usageMeterBalances"
                                ],
                                "additionalProperties": false
                              }
                            },
                            "required": [
                              "id",
                              "createdAt",
                              "updatedAt",
                              "createdByCommit",
                              "updatedByCommit",
                              "livemode",
                              "startDate",
                              "customerId",
                              "organizationId",
                              "status",
                              "defaultPaymentMethodId",
                              "backupPaymentMethodId",
                              "trialEnd",
                              "currentBillingPeriodStart",
                              "currentBillingPeriodEnd",
                              "canceledAt",
                              "cancelScheduledAt",
                              "priceId",
                              "runBillingAtPeriodStart",
                              "interval",
                              "intervalCount",
                              "billingCycleAnchorDate",
                              "name",
                              "renews",
                              "current",
                              "subscriptionItems"
                            ],
                            "additionalProperties": false
                          },
                          {
                            "type": "object",
                            "properties": {
                              "id": { "type": "string" },
                              "createdAt": { "type": "string" },
                              "updatedAt": {
                                "anyOf": [
                                  { "type": "string" },
                                  { "type": "null" }
                                ]
                              },
                              "createdByCommit": {
                                "anyOf": [
                                  { "type": "string" },
                                  { "type": "null" }
                                ]
                              },
                              "updatedByCommit": {
                                "anyOf": [
                                  { "type": "string" },
                                  { "type": "null" }
                                ]
                              },
                              "livemode": { "type": "boolean" },
                              "startDate": { "type": "string" },
                              "customerId": { "type": "string" },
                              "organizationId": { "type": "string" },
                              "status": {
                                "type": "string",
                                "enum": [
                                  "trialing",
                                  "active",
                                  "past_due",
                                  "unpaid",
                                  "cancellation_scheduled",
                                  "incomplete",
                                  "incomplete_expired",
                                  "canceled",
                                  "paused"
                                ]
                              },
                              "defaultPaymentMethodId": {
                                "anyOf": [
                                  { "type": "string" },
                                  { "type": "null" }
                                ]
                              },
                              "backupPaymentMethodId": {
                                "anyOf": [
                                  { "type": "string" },
                                  { "type": "null" }
                                ]
                              },
                              "trialEnd": {
                                "anyOf": [
                                  { "type": "string" },
                                  { "type": "null" }
                                ]
                              },
                              "currentBillingPeriodStart": {
                                "type": "string"
                              },
                              "currentBillingPeriodEnd": {
                                "type": "string"
                              },
                              "metadata": {
                                "anyOf": [
                                  {
                                    "type": "object",
                                    "propertyNames": {
                                      "type": "string"
                                    },
                                    "additionalProperties": {}
                                  },
                                  { "type": "null" }
                                ]
                              },
                              "canceledAt": {
                                "anyOf": [
                                  { "type": "string" },
                                  { "type": "null" }
                                ]
                              },
                              "cancelScheduledAt": {
                                "anyOf": [
                                  { "type": "string" },
                                  { "type": "null" }
                                ]
                              },
                              "priceId": {
                                "anyOf": [
                                  { "type": "string" },
                                  { "type": "null" }
                                ]
                              },
                              "runBillingAtPeriodStart": {
                                "anyOf": [
                                  { "type": "boolean" },
                                  { "type": "null" }
                                ]
                              },
                              "interval": {
                                "type": "string",
                                "enum": [
                                  "day",
                                  "week",
                                  "month",
                                  "year"
                                ]
                              },
                              "intervalCount": {
                                "description": "A positive integer"
                              },
                              "billingCycleAnchorDate": {
                                "type": "string"
                              },
                              "name": {
                                "anyOf": [
                                  { "type": "string" },
                                  { "type": "null" }
                                ]
                              },
                              "renews": {
                                "type": "boolean",
                                "const": true
                              },
                              "current": { "type": "boolean" },
                              "subscriptionItems": {
                                "type": "array",
                                "items": {
                                  "oneOf": [
                                    {
                                      "type": "object",
                                      "properties": {
                                        "id": { "type": "string" },
                                        "createdAt": {
                                          "type": "string"
                                        },
                                        "updatedAt": {
                                          "anyOf": [
                                            { "type": "string" },
                                            { "type": "null" }
                                          ]
                                        },
                                        "createdByCommit": {
                                          "anyOf": [
                                            { "type": "string" },
                                            { "type": "null" }
                                          ]
                                        },
                                        "updatedByCommit": {
                                          "anyOf": [
                                            { "type": "string" },
                                            { "type": "null" }
                                          ]
                                        },
                                        "livemode": {
                                          "type": "boolean"
                                        },
                                        "subscriptionId": {
                                          "type": "string"
                                        },
                                        "name": {
                                          "anyOf": [
                                            { "type": "string" },
                                            { "type": "null" }
                                          ]
                                        },
                                        "addedDate": {
                                          "type": "string"
                                        },
                                        "priceId": {
                                          "type": "string"
                                        },
                                        "unitPrice": {
                                          "anyOf": [
                                            {
                                              "description": "A positive integer"
                                            },
                                            {
                                              "type": "number",
                                              "const": 0
                                            }
                                          ]
                                        },
                                        "quantity": {
                                          "description": "A positive integer"
                                        },
                                        "usageEventsPerUnit": {
                                          "description": "The number of usage events that constitute one unit for billing."
                                        },
                                        "usageMeterId": {
                                          "description": "The usage meter associated with this usage-based subscription item.",
                                          "type": "string"
                                        },
                                        "metadata": {
                                          "anyOf": [
                                            {
                                              "type": "object",
                                              "propertyNames": {
                                                "type": "string"
                                              },
                                              "additionalProperties": {}
                                            },
                                            { "type": "null" }
                                          ]
                                        },
                                        "type": {
                                          "type": "string",
                                          "const": "usage"
                                        },
                                        "externalId": {
                                          "anyOf": [
                                            { "type": "string" },
                                            { "type": "null" }
                                          ]
                                        },
                                        "expiredAt": {
                                          "description": "Used as a flag to soft delete a subscription item without losing its history for auditability. If set, it will be removed from the subscription items list and will not be included in the billing period item list.",
                                          "anyOf": [
                                            { "type": "string" },
                                            { "type": "null" }
                                          ]
                                        },
                                        "price": {
                                          "$ref": "#/components/schemas/SubscribablePriceRecord"
                                        }
                                      },
                                      "required": [
                                        "id",
                                        "createdAt",
                                        "updatedAt",
                                        "createdByCommit",
                                        "updatedByCommit",
                                        "livemode",
                                        "subscriptionId",
                                        "name",
                                        "addedDate",
                                        "priceId",
                                        "unitPrice",
                                        "quantity",
                                        "usageEventsPerUnit",
                                        "usageMeterId",
                                        "type",
                                        "externalId",
                                        "expiredAt",
                                        "price"
                                      ],
                                      "additionalProperties": false
                                    },
                                    {
                                      "type": "object",
                                      "properties": {
                                        "id": { "type": "string" },
                                        "createdAt": {
                                          "type": "string"
                                        },
                                        "updatedAt": {
                                          "anyOf": [
                                            { "type": "string" },
                                            { "type": "null" }
                                          ]
                                        },
                                        "createdByCommit": {
                                          "anyOf": [
                                            { "type": "string" },
                                            { "type": "null" }
                                          ]
                                        },
                                        "updatedByCommit": {
                                          "anyOf": [
                                            { "type": "string" },
                                            { "type": "null" }
                                          ]
                                        },
                                        "livemode": {
                                          "type": "boolean"
                                        },
                                        "subscriptionId": {
                                          "type": "string"
                                        },
                                        "name": {
                                          "anyOf": [
                                            { "type": "string" },
                                            { "type": "null" }
                                          ]
                                        },
                                        "addedDate": {
                                          "type": "string"
                                        },
                                        "priceId": {
                                          "type": "string"
                                        },
                                        "unitPrice": {
                                          "anyOf": [
                                            {
                                              "description": "A positive integer"
                                            },
                                            {
                                              "type": "number",
                                              "const": 0
                                            }
                                          ]
                                        },
                                        "quantity": {
                                          "description": "A positive integer"
                                        },
                                        "usageEventsPerUnit": {
                                          "description": "Usage events per unit must be null for static subscription items.",
                                          "type": "null"
                                        },
                                        "usageMeterId": {
                                          "description": "Usage meter ID must be null for static subscription items.",
                                          "type": "null"
                                        },
                                        "metadata": {
                                          "anyOf": [
                                            {
                                              "type": "object",
                                              "propertyNames": {
                                                "type": "string"
                                              },
                                              "additionalProperties": {}
                                            },
                                            { "type": "null" }
                                          ]
                                        },
                                        "type": {
                                          "type": "string",
                                          "const": "static"
                                        },
                                        "externalId": {
                                          "anyOf": [
                                            { "type": "string" },
                                            { "type": "null" }
                                          ]
                                        },
                                        "expiredAt": {
                                          "description": "Used as a flag to soft delete a subscription item without losing its history for auditability. If set, it will be removed from the subscription items list and will not be included in the billing period item list.",
                                          "anyOf": [
                                            { "type": "string" },
                                            { "type": "null" }
                                          ]
                                        },
                                        "price": {
                                          "$ref": "#/components/schemas/SubscribablePriceRecord"
                                        }
                                      },
                                      "required": [
                                        "id",
                                        "createdAt",
                                        "updatedAt",
                                        "createdByCommit",
                                        "updatedByCommit",
                                        "livemode",
                                        "subscriptionId",
                                        "name",
                                        "addedDate",
                                        "priceId",
                                        "unitPrice",
                                        "quantity",
                                        "usageEventsPerUnit",
                                        "usageMeterId",
                                        "type",
                                        "externalId",
                                        "expiredAt",
                                        "price"
                                      ],
                                      "additionalProperties": false
                                    }
                                  ],
                                  "type": "object"
                                }
                              },
                              "experimental": {
                                "description": "Experimental fields. May change without notice.",
                                "type": "object",
                                "properties": {
                                  "featureItems": {
                                    "type": "array",
                                    "items": {
                                      "$ref": "#/components/schemas/SubscriptionItemFeaturesClientSelectSchema"
[...]
