name: Build and Deploy Flowglad Next

on:
  workflow_call:
    inputs:
      environment:
        required: true
        type: string
        description: 'Environment to deploy to (preview/production)'
    secrets:
      VERCEL_ORG_ID:
        required: true
      VERCEL_PROJECT_ID:
        required: true
      VERCEL_TOKEN:
        required: true
      NEXT_PUBLIC_CDN_URL:
        required: true
      TRIGGER_ACCESS_TOKEN:
        required: true
      FLOWGLAD_NEXT_VERCEL_PROJECT_NAME:
        required: true
      MINTLIFY_PROJECT_ID:
        required: true
      MINTLIFY_API_KEY:
        required: true

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@eef61447b9ff4aafe5dcd4e0bbf5d482be7e7871 # v4.2.1
      
      - name: Setup Node.js
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v3
        with:
          node-version: '18'
      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: '1.2.14'

      - name: Install dependencies
        run: bun run install-packages --no-progress
        working-directory: platform/flowglad-next
        
      - name: Pull Vercel Environment Variables
        run: |
          set -euo pipefail
          bunx --bun vercel@41.6.2 pull --yes --environment=${{ inputs.environment }} --token=${{ secrets.VERCEL_TOKEN }}
          cp .vercel/.env.${{ inputs.environment }}.local .env.local
          cp .vercel/.env.${{ inputs.environment }}.local platform/flowglad-next/.env.local

      - name: Attempt to remove dev routes if production
        run: bun run prebuild
        working-directory: platform/flowglad-next

      - name: Build Project Artifacts
        run: bunx --bun vercel@41.6.2 build --token=${{ secrets.VERCEL_TOKEN }} ${{ inputs.environment == 'production' && '--prod' || '' }}

      - name: Deploy Trigger
        run: export TRIGGER_ENV=${{ inputs.environment == 'production' && 'prod' || 'staging' }} && bun run trigger:deploy
        working-directory: platform/flowglad-next
        env:
          TRIGGER_ACCESS_TOKEN: ${{ secrets.TRIGGER_ACCESS_TOKEN }}

      - name: Run migrations
        run: bun run migrations:push
        working-directory: platform/flowglad-next

      - name: Deploy to Vercel
        uses: amondnet/vercel-action@16e87c0a08142b0d0d33b76aeaf20823c381b9b9 # v25.2.0
        with:
          vercel-token: ${{ secrets.VERCEL_TOKEN }}
          vercel-org-id: ${{ secrets.VERCEL_ORG_ID }}
          vercel-project-id: ${{ secrets.VERCEL_PROJECT_ID }}
          vercel-args: ${{ inputs.environment == 'production' && '--prebuilt --prod' || '--prebuilt' }}
          vercel-project-name: ${{ secrets.FLOWGLAD_NEXT_VERCEL_PROJECT_NAME }}
          vercel-version: 41.6.2 

      - name: Trigger Update API Reference in Mintlify
        if: ${{ inputs.environment == 'production' }}
        run: |
          set -euo pipefail
          curl --fail-with-body --request POST \
            --url https://api.mintlify.com/v1/project/update/${{ secrets.MINTLIFY_PROJECT_ID }} \
            --header 'Authorization: Bearer ${{ secrets.MINTLIFY_API_KEY }}'
        working-directory: platform/flowglad-next
