name: Lint Ratchet

on:
  pull_request:
    branches: [main]
  merge_group:

permissions: read-all

jobs:
  ratchet-check:
    name: Lint Ratchet Check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Setup Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v3
        with:
          node-version: '18'
      - name: Setup Bun
        uses: oven-sh/setup-bun@b7a1c7ccf290d58743029c4f6903da283811b979 # v2.1.0
        with:
          bun-version: '1.3.1'
      - name: Install dependencies
        run: bun install --no-progress
      - name: Run ratchet check
        run: bun run lint:ratchet

  all-jobs-succeed:
    name: All lint ratchet checks succeeded
    if: failure()
    runs-on: ubuntu-latest
    needs: [ratchet-check]
    steps:
      - name: Mark the job as failed
        run: exit 1
